@font-face {
  font-family: "iconfont"; /* Project id  */
  src: url('iconfont.ttf?t=1656123215943') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-paizhao:before {
  content: "\e620";
}

.icon-shouye1:before {
  content: "\e751";
}

.icon-quanbu:before {
  content: "\e629";
}

.icon-vip:before {
  content: "\e6ba";
}

.icon-biaoqian:before {
  content: "\e6a4";
}

.icon-yuedu:before {
  content: "\e67e";
}

.icon-xiaolian:before {
  content: "\e64a";
}

.icon-shiyongwendang:before {
  content: "\eb66";
}

.icon-icon_wangye:before {
  content: "\eb8c";
}

.icon-huiyuan:before {
  content: "\e647";
}

.icon-shuben:before {
  content: "\e604";
}

.icon-tiku:before {
  content: "\e6a0";
}

.icon-meibi:before {
  content: "\e60a";
}

.icon-shipin:before {
  content: "\e6ca";
}

.icon-xueshimao:before {
  content: "\e6cf";
}

.icon-icon-test:before {
  content: "\e61e";
}

.icon-xiaoxizhongxin:before {
  content: "\e8be";
}

.icon-duihuakuang:before {
  content: "\e7c1";
}

.icon-w_xuexi:before {
  content: "\e67d";
}

.icon-danci:before {
  content: "\e601";
}

.icon-luyinjishouyinjidiantai:before {
  content: "\e625";
}

.icon-yumaobi:before {
  content: "\e611";
}

.icon-beibao:before {
  content: "\e6b0";
}

.icon-duihua:before {
  content: "\ec8c";
}

.icon-shuyi_fanyi-105:before {
  content: "\e65b";
}

.icon-paizhao2:before {
  content: "\100ac";
}

.icon-aixin:before {
  content: "\eca1";
}

